tr
	td: code= asset.name
	td
		if asset.size > 1024
			= Math.round(asset.size/1024) + " KiB"
		else
			= asset.size + " B"
	td
		for chunk in asset.chunks
			div: a.open-chunk(href="#", data-chunk=chunk)= chunk
	td
		for name in asset.chunkNames
			div= name
	