doctype html
html(lang='en' dir='ltr')
	head
		link(rel="icon" type="image/png" href=require("Images/favicon.png"))
		link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css")
		link(rel="stylesheet" href=require("Styles/style.css"))
		script(src="//code.jquery.com/jquery-2.1.0.min.js")
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js")
		script(src=require("App/entry.js") defer)
	body
		noscript Enable JavaScript